
body {
  background-color: #020c27;
}

.download {
  position: absolute;
  top: 5px;
  right: 5px;
}

.search-form {
  background-image: url('/assets/images/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: #fafafa;
  padding-top: 50px;
}

.search-form .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-form label {
  color: #fafafa;
}

.search-form input,
.search-form input:focus,
.search-form textarea {
  background-color: #21b8ed;
}

.search-form .submit-button {
  background-color: #157497;
  color: #f0f0f0;
}

.grecaptcha-badge {
  opacity:0 !important;
}

.terminal-wrp {
  background-color: #807e7b;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,.5);
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 25px;
}

.terminal {
  background-color: #101010;
  color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  max-height: 150px;
  overflow: auto;
}

.terminal .success {
  color: #70ef70
}

.terminal .error {
  color: #e04040
}

.output-wrp {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.output {
  color: #101010;
  background-color: #21b8ed;
  padding: 1rem 1rem 0 1rem !important;
  border-radius: 5px;
  margin-bottom: 25px !important;
}

pre {
  margin-bottom: 1rem;
}
